# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Build
dist/

# Logs
*.log
estructura_produccion.sql
supabase/snippets/Untitled query 245.sql
supabase/snippets/Untitled query 288.sql
supabase/snippets/Untitled query 380.sql
supabase/snippets/Untitled query 424.sql
supabase/.temp/
supabase/.branches/
